<app-item>
  <ng-template #noEditingContent>
    <div class="noEditingText">{{item.text}}</div>
  </ng-template>
  <ng-template #editingContent>
    <form [formGroup]="formGroup">
      <mat-form-field class="text">
        <input matInput placeholder="Text" formControlName="text" autofocus required/>
      </mat-form-field>
      <mat-form-field class="text">
        <input matInput placeholder="Url" formControlName="url" required/>
        <button mat-stroked-button matSuffix type="button" (click)="testUrl()"><mat-icon>done</mat-icon>Test</button>
      </mat-form-field>
    </form>
  </ng-template>
</app-item>
