<app-loading></app-loading>
<app-input-edit [value]="template.name" (saveEvent)="onSaveName($event)"></app-input-edit>
<mat-toolbar>
  <button mat-raised-button (click)="newItemText()" disabled="{{editing}}"><mat-icon class="material-icons-outlined">title</mat-icon>Text</button>
  <button mat-raised-button (click)="newItemHttp()" disabled="{{editing}}"><mat-icon class="material-icons-outlined">http</mat-icon>Http</button>
</mat-toolbar>
  <table mat-table [dataSource]="template.items" class="table">
    <ng-container matColumnDef="iconType">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon class="material-icons-outlined"><ng-container [ngSwitch]="row.type">
            <ng-container *ngSwitchCase="0">
              title
            </ng-container>
            <ng-container *ngSwitchCase="1">
              http
            </ng-container>
          </ng-container>
        </mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row"><ng-container [ngSwitch]="row.type">
      <p *ngSwitchCase="0">
        <app-item-text #item [idTemplate]="id" [item]="row" [editing]="editing && (row.id === editingItemId)"
          (endEditEvent)="onEndEditEvent($event)"></app-item-text>
      </p>
      <p *ngSwitchCase="1">
        <app-item-http #item [idTemplate]="id" [item]="row" [editing]="editing && (row.id === editingItemId)"
          (endEditEvent)="onEndEditEvent($event)"></app-item-http>
      </p>
      <p *ngSwitchDefault>
        Error: No item type found
      </p>
      </ng-container></td>
    </ng-container>
    <ng-container matColumnDef="iconDelete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row, let item = item">
        <button mat-icon-button (click)='delete(row.id)' *ngIf="!editing"><mat-icon class="material-icons-outlined">delete</mat-icon></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="iconEdit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)='edit(row.id)' *ngIf="!editing"><mat-icon class="material-icons-outlined">edit</mat-icon></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="iconUp">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let i = index; let first = first">
        <button mat-icon-button (click)='up(i)' disabled="{{editing || first}}"><mat-icon class="material-icons-outlined">keyboard_arrow_up</mat-icon></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="iconDown">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let i = index; let last = last">
        <button mat-icon-button (click)='down(i)' disabled="{{editing || last}}"><mat-icon class="material-icons-outlined">keyboard_arrow_down</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
       [class.editing]="editing && (row.id === editingItemId)"
       [class.editing-disabled]="editing && (row.id !== editingItemId)"></tr>
  </table>
